.google-login {
    background-color: #4285F4;
    border-color: #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.google-login i {
    color: #DB4437;
}

.google-login:hover {
    color: #FBBC05;  /* Change text to Google Red on hover */
}
#messageContainer {
    margin: 15px 0;
    text-align: center;
    color: white; /* Цвет текста для успешных и ошибочных сообщений */
    background-color: transparent; /* Без фона */
    border: none; /* Без обрамления */
    display: none; /* Изначально скрыто */
}

.btn-outline-light:hover {
    background-color: #007bff; /* Синий цвет наводки */
    color: white;
}

.btn-custom-outline {
    border: 1px solid white; /* Толщина рамки 1px */
    border-radius: 0.25rem; /* Закругленные углы, как у других кнопок */
}

