.google-login {
    background-color: #4285F4;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.google-login i {
    color: #DB4437;
}

.google-login:hover {
    color: #FBBC05; /* Change text to Google Red on hover */
    background-color: #007bff;
}

#messageContainer {
    margin: 15px 0;
    text-align: center;
    color: white; /* Text color for success and error messages */
    background-color: transparent; /* No background */
    border: none; /* No border */
    display: none; /* Initially hidden */
}

.btn-light:hover {
    background-color: #007bff; /* Blue hover color */
    color: white;
}

.btn-custom-outline {
    border: 1px solid white; /* Border thickness 1px */
    border-radius: 0.25rem; /* Rounded corners like other buttons */
}

body {
    background-color: #343a40;
    color: #f8f9fa;
}

.sidebar {
    height: 100vh;
    background-color: var(--bs-dark, #212529); /* Bootstrap's dark color */
    padding-top: 15px;
    overflow-y: auto;
}

.sidebar .list-group-item {
    background-color: #212529;
    color: #f8f9fa;
}

.sidebar .list-group-item:hover {
    background-color: #495057;
    cursor: pointer;
}

#welcome-user-container {
    position: relative;
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    align-items: center;
    padding: 10px;
}

#welcome-user {
    margin-bottom: 10px; /* Adds space between welcome message and logout button */
}

#logout-button {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#welcome-user-container:hover #logout-button {
    opacity: 1;
}

.content {
    padding: 20px;
}

.header {
    background-color: #212529;
    padding: 10px 20px;
    border-bottom: 1px solid #495057;
}

.list-group-item.active {
    background-color: #495057; /* Use Bootstrap's dark color variable */
    color: #fff !important; /* Ensure text remains visible */
    border-color: #fff !important;
}

.modal-content {
    background-color: #343a40;
    color: #ffffff;
    border: none;
}
.modal-header {
    border-bottom: 1px solid #495057;
}
.modal-footer {
    border-top: 1px solid #495057;
}
.btn-close {
    filter: invert(1);
}
