.google-login {
    background-color: #4285F4;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.google-login i {
    color: #DB4437;
}

.google-login:hover {
    color: #FBBC05;  /* Change text to Google Red on hover */
    background-color: #007bff;
}

#messageContainer {
    margin: 15px 0;
    text-align: center;
    color: white; /* Цвет текста для успешных и ошибочных сообщений */
    background-color: transparent; /* Без фона */
    border: none; /* Без обрамления */
    display: none; /* Изначально скрыто */
}

.btn-light:hover {
    background-color: #007bff; /* Синий цвет наводки */
    color: white;
}

.btn-custom-outline {
    border: 1px solid white; /* Толщина рамки 1px */
    border-radius: 0.25rem; /* Закругленные углы, как у других кнопок */
}

body {
    background-color: #343a40;
    color: #f8f9fa;
}

.sidebar {
    height: 100vh;
    background-color: var(--bs-dark, #212529); /* Bootstrap's dark color */
    padding-top: 15px;
    overflow-y: auto;
}
.sidebar .list-group-item {
    background-color: #212529;
    color: #f8f9fa;
}
.sidebar .list-group-item:hover {
    background-color: #495057;
    cursor: pointer;
}

.content {
    padding: 20px;
}

.header {
    background-color: #212529;
    padding: 10px 20px;
    border-bottom: 1px solid #495057;
}

.list-group-item.active {
    background-color: var(--bs-dark) !important; /* Use Bootstrap's dark color variable */
    color: #fff !important; /* Ensure text remains visible */
}
