<!-- Input field for YouTube link -->
<div id="video-input" class="form-group mt-4">
    <label for="video-url" class="visually-hidden">YouTube Video URL</label>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text bg-dark text-light">
                    <i class="fab fa-youtube"></i>
                </span>
                <input type="text" id="video-url" class="form-control bg-dark text-light" placeholder="Enter YouTube video URL">
                <button class="btn btn-primary" id="load-video-button">Load Video</button>
            </div>
        </div>
    </div>
</div>

<!-- Video player container -->
<div id="video-player" class="mt-4">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div id="player" class="bg-dark p-3"></div>
        </div>
    </div>
</div>
